<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"> Automatic irrigation system</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">
        <a class="nav-link active" aria-current="page"  routerLink="/home" routerLinkActive="active">Home</a>
        <a class="nav-link"  routerLink="/plots" routerLinkActive="active">Plots</a>
        <a class="nav-link " routerLink="/create-plot" routerLinkActive="active">Create Plot</a>
        <!-- <a class="nav-link " routerLink="/edit-plot" routerLinkActive="active">Edit Plot</a> -->

      </div>
    </div>
  </div>
</nav>
